@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Title: @ViewBag.Title</title>
    <link href="~/CSS/Site.css" rel="stylesheet" />
</head>
<body>
    <header> 
    <h1>Welcome to DOTnetcore   </h1>
    
    <menu>
        <ul>
            <li><a href="/">Home</a></li>
            <li> <a href="/App/Contact"> Contact </a></li>
            <li> <a href="/App/About">About</a></li>

        </ul>
    </menu>
    
    
    
    </header>
    <section>
    <h2> @ViewBag.Title</h2>
        @RenderBody()
    </section>
    
  <footer> Copy Rights 2021 DOTnetcore</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/JS/index.js"></script>
</body>
</html>

